/** @format */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:wght@100;700&family=Karla:wght@300&family=Kumbh+Sans:wght@300&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}
/** ROOT **/
:root {
  --primary: hsl(26, 100%, 55%);
  --pale-primary: hsl(25, 100%, 94%);
  --secondary-very-dark: hsl(220, 13%, 13%);
  --secondary-dark-gray: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-gray-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

/** NAVBAR **/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}
.nav-1 nav {
  display: flex;
  justify-content: space-between;
}
.nav-1 nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.nav-1 nav ul li {
  list-style: none;
  padding-left: 20px;
  margin-right: 10px;
}
.nav-2 nav {
  display: flex;
  justify-content: space-between;
}
.nav-2 nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.my-cart {
  position: relative;
}
.cart-value {
  position: absolute;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  top: 24px;
  font-weight: 300;
  border-radius: 11px;
  padding: 10px;
  right: 128px;
  color: var(--white);
  width: 33px;
  height: 10px;
  background-color: var(--primary);
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.hidden-cart {
  display: flex;
  flex-direction: column;
}
.image-cart {
  padding-right: 35px;
}
.checkout-img {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
.c-img {
  width: 65px;
  height: 65px;
  object-fit: contain;
  padding-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.border-line {
  margin-top: 30px;
  width: 100%;
}
button:hover {
  cursor: pointer;
}
.checkout-description {
  padding-right: 14px;
  padding-top: 10px;
}
.checkout-description h2,
.original,
.times,
.number {
  color: var(--grayish-blue);
}
.bold {
  font-weight: bolder;
}
.checkout {
  color: var(--white);
  background-color: var(--primary);
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.totalValue {
  font-weight: bold;
}
.cart-container {
  padding: 14px;
  position: absolute;
  right: 40px;
  background-color: var(--white);
  top: 80px;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  display: none;
  z-index: 999;
  box-shadow: 2px 3px 14px 3px rgb(177, 176, 176);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.delete {
  width: 20px;
  height: 35px;
  padding-top: 8px;
  cursor: pointer;
}
#myCart {
  cursor: pointer;
}
.nav-item {
  cursor: pointer;
}

.avatar:hover {
  cursor: pointer;
  transform: all 0.4s ease;
  border-radius: 50%;
  border: 2px solid var(--primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: all 0.4s ease;
  -moz-transform: all 0.4s ease;
  -ms-transform: all 0.4s ease;
  -o-transform: all 0.4s ease;
}

#nav-list.active {
  position: fixed;
  top: 0;
  width: 76%;
  box-shadow: 2px 2px 4px 3px rgb(53, 53, 53);
  left: 0px;
  display: flex;
  transition: all 0.8s ease-in-out;
  flex-direction: column;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  background-color: var(--white);
  z-index: 9999;
}
#menu {
  display: none;
  cursor: pointer;
}
.close {
  display: none;
}

/** Content **/
.Contents {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 15px 50px;
  margin-top: 13px;
}
.img-radius {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.hero-img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 70%;
  height: 70%;
}
.img-grid {
  display: grid;
  padding-top: 10px;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
}
.thumbnail {
  width: 100px;
  height: 100px;
}
.show-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-right: 80px;
  padding: 0 10px;
}
.sneaker {
  word-spacing: 2px;
  letter-spacing: 2.5px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 0px;
  color: var(--primary);
  font-weight: bolder;
}
.show-info > h1 {
  color: var(--secondary-very-dark);
  font-size: 40px;
  padding: 20px 0;

  font-weight: bolder;
}
.show-info > h4 > p {
  color: var(--secondary-dark-gray);
  font-size: 16px;
}
.cart-transaction {
  display: flex;
}
#btn-calc {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(218, 237, 243);
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray-blue);
  padding: 10px 20px;
}
.cart-btn {
  outline: 0;
  border: 0;

  background-color: var(--light-gray-blue);
  font-size: 20px;
}
#cartValue {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 3px;
}
.cart-btn > img {
  width: 15px;
  cursor: pointer;
  object-fit: contain;
  margin: 0 25px;

  height: 15px;
}
.add-cart {
  display: flex;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  width: 100%;
  margin-left: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.add-cart > img {
  margin-left: 13px;
}
.add-cart > h3 {
  margin: 0 15px;
}
.percent {
  background-color: var(--pale-primary);
  font-weight: bolder;
  color: var(--primary);
  padding: 10px;
  margin: 0 20px;
  border-radius: 14px;
  font-size: 18px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.discount {
  font-size: 30px;
  font-weight: bolder;
}
.percent-discount-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 0;
}
#actual-price {
  font-weight: bold;
  color: var(--grayish-blue);
  font-size: 20px;
}
@media only screen and (max-width: 900px) {
  #nav-list {
    position: fixed;
    display: flex;
    justify-content: start;
    font-weight: bold;
    left: -400px;
    height: 100%;
    top: 0;
    width: 76%;
    background-color: var(--white);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    flex-direction: column;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
  .close {
    display: block;
    cursor: pointer;
  }
  .nav-item {
    padding: 15px;
    cursor: pointer;
  }
  #menu {
    display: block;
    cursor: pointer;
    padding-top: 5px;
    padding-right: 20px;
  }
  .Contents {
    display: flex;
    flex-direction: column;

    padding: 20px;
    margin-top: 13px;
    justify-content: space-between;
    align-items: center;
  }
  .cart-transaction {
    display: flex;
    flex-direction: column;
  }
  .btn-calc {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 20px;
  }
  .adjust-btn {
    width: 100%;
    margin-left: -10px;
  }
}
